body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #935DB5;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}

.topnav a {
    float: right;
    display: block;
    font-family: 'Anonymous Pro', monospace;
    background-color: #363537;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a.active {
    color: #363537;
    background-color: #ffffff;
}

.topnav a:hover {
    background-color: #fbff12;
    color: #363537;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none}
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.narrow {position: relative;}
    .topnav.narrow a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.narrow a {
        float: none;
        display: block;
        text-align: left;
    }
}

#reviewsSection {
    margin-top: 15vh;
}

#reviewsSection h1 {
    font-size: 40px;
}

.errorMessage {
    font-size: 13px;
    color: #935DB5;
    font-weight: lighter;
}

#calculatorsAndStuff {
    text-align: center;
    width: 70%;
    margin-top: 15vh;
}

#recipe {
    text-align: left;
}

#recipe ul {
    line-height: 1.6;
}


.drinkReviewSection {
    margin-top: 15vh;
    width: 100%;
    font-size: 16px;
    line-height: 1.88em;
}

.top5 {
    width: 30%;
    background-color: #fbff12;
    color: #363537;
    text-align: center;
}

.top5 h1 {
    margin-top: 15vh;
}

.cheapestListItem:not(:first-child) {
    margin: 4em 0;
}

@media only screen and (max-width: 1100px) {
    .cheapestListItem img {
        width: 30vmin;
        height: 30vmin;
    }
}

@media only screen and (max-width: 600px) {
    .calcSection {width: 100%}
    .top5 {width: 100%}
    .cheapestListItem img {
        width: 300px;
        height: 300px;
    }
}

#map {
    margin-top: 15vh;
}

#map h1 {
    font-size: 30px;
    margin: 20px;
}

#directions-map {
    height: 500px;
    width: 80%;
    margin: 30px auto 30px auto;
}

.keyboardInputClass {
    height: 50px;
    width: 400px;
    background: #e7e7e7;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.buttonClass {
    height: 50px;
    width: 100px;
    background-color: #935DB5;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.buttonClass:hover{
    background-color: #fbff12;
    color: #363537;
}

.calcPageContainer {
    display: flex;
    flex-wrap: wrap;
}

.calcSection input {
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .calcSection {width: 100%}
    .top5 {width: 100%}
}

#weather {
    width: 80%;
    margin: 40px auto;
}

#weather h2 {
    text-align: left;
}

.arvosteluLista ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.arvosteluLista figure {
    position: relative;
    margin: 20px;
}

.arvosteluLista figcaption {
    position: relative;
    font-size: 18px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #935DB5;
    color: #ffffff;
}

.reviewImg {
    border-radius: 7%;
}

.headerText {
    text-align: center;
    margin: 25px;
    margin-top: 20vh;
}

.headerText p {
    font-size: 18px;
    width: 65%;
    margin: 20px auto;
    line-height: 1.88em;
}

.headerText img {
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .headerText img {
        width: 300px;
        height: 200px;
    }
}

.headerText h1 {
    font-size: 40px;
    width: 80%;
    position: relative;
    margin: 20px auto;
    font-weight: 900;
}

.headerText span {
    background: #935DB5;
    height: 2px;
    width: 70px;
    display: block;
    margin: 4vh auto;
}

#juomanimi {
    text-align: center;
    margin-left: 15px;
    font-size: 30px;
}

#juomankuva {
    float: left;
    margin: 3px 15px 5px 15px;
}

#arvostelu {
    list-style: none;
}

#kirjoittaja {
    text-align: right;
    font-style: italic;
    padding-right: 20px;
    margin-bottom: 60px;
}

#kommentit-loota {
    width: 100%;
}

#kommentit-otsikko {
    text-align: left;
    margin-left: 15px;
    font-size: 30px;
}

#kommentointi-kentta {
    border: none;
    font-size: 20px;
    margin-left: 10px;
}
#kommentointi-nappi {
    border: none;
    font-size: 20px;
    height: 50px;
    width: 100px;
    background-color: #935DB5;
    color: white;
}

#kommentointi-nappi:hover{
    background-color: #fbff12;
    color: #363537;
}

#poista {
    border: none;
    font-size: 20px;
    height: 50px;
    width: 170px;
    background-color: #935DB5;
    color: white;
    margin: 5px;
}

#poista:hover{
    background-color: #fbff12;
    color: #363537;
}

#kommentit li {
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 10px;
    border-left: #935DB5;
    border-left-style: dashed;
}

footer {
    display: flex;
    background-color: #935DB5;
    color: #ffffff;
    padding: 20px;
    bottom: 0;
}

#foo-left{
    width: 33.3%;
    text-align: left;
}

#foo-right{
    width: 33.3%;
    text-align: right;
}

#foo-center{
    width: 33.4%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    footer {
        display: block;
    }
    #foo-center {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
    #foo-left {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
    #foo-right {
        text-align: center;
        width: 100%;
    }
}

h1, h2, h3 {
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    margin: 0;
}

#map h1 {
    width: 80%;
    margin: auto;
    text-align: left;
}

#buttContainer {
    width: 80%;
    margin: auto;
}

#googleMap {
    width:80%;
    height:600px;
    margin: 40px auto;
}

#distance_form {
    text-align: center;
    font-family: 'Anonymous Pro', monospace;

}
#result {
    margin: 40px auto;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}


/* Tällä on helppo testata missä menee rajat T. Kirsi
*{
    outline: 1px solid red;
}
 */