body{
    font-family: Arial;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #b084cc;
}

.topnav a {
    float: left;
    display: block;
    font-family: 'Anonymous Pro', monospace;
    background-color: #363537;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #fbff12;
    color: #363537;
}

.topnav a.active {
    background-color: #b084cc;
    color: #363537;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none}
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.narrow {position: relative;}
    .topnav.narrow a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.narrow a {
        float: none;
        display: block;
        text-align: left;
    }
}

.errorMessage {
    font-size: 13px;
    color: #b084cc;
    font-weight: lighter;
}

.calcPageContainer {
    display: flex;
    flex-wrap: wrap;
}

.calcSection {
    text-align: center;
    width: 70%;
}

.top5 {
    width: 30%;
    background-color: #363537;
    color: #e7e7e7;
}

@media only screen and (max-width: 600px) {
    .calcSection {width: 100%}
    .top5 {width: 100%}
}

#revHeader {
    background-color: #b084cc;
    text-align: center;
}

#weatherInputField {
    text-align: center;
}

input[type="text"] {
    height: 50px;
    width: 400px;
    background: #e7e7e7;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

#weatherOutput {
    text-align: center;
    font-family: Arial;
}

.arvosteluLista ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.arvosteluLista figure {
    position: relative;
    margin: 20px;
    border-radius: 50%;
}

.arvosteluLista figcaption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.5);
    padding-left: 20px;
}

.reviewImg {
    border-radius: 15%;
}

.headerText {
    text-align: center;
    margin: 25px;
}

.headerText p {
    font-size: 18px;
    width: 65%;
    margin: 20px auto;
    line-height: 1.88em;
}

.headerText h1 {
    font-size: 40px;
    width: 80%;
    position: relative;
    margin: 20px auto;
    font-weight: 900;
}

.headerText span {
    background: #b084cc;
    height: 2px;
    width: 70px;
    display: block;
    margin: 0 auto;
}

/*
#bgImage {
    background-image: url("images/beautiful-shot-active-volcano-with-flowing-lava-smoke-clear-sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    width: 100%;
    height: 90%;
    padding-top: 0;
    padding-bottom: 100px;
}*/

#kommentointi-kentta {
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#kommentointi-nappi {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 100px;
}

#kommentointi-nappi:hover{
    background-color: #646464;
}

#kommentit li {
    list-style: none;
    margin: 20px;
    padding-left: 10px;
    border-left: coral;
    border-left-style: dashed;
}

footer {
    display: flex;
    background-color: #b084cc;
    color: #ffffff;
    padding: 20px;
}

#foo-left{
    width: 33.3%;
    text-align: left;
}

#foo-right{
    width: 33.3%;
    text-align: right;
}

#foo-center{
    width: 33.4%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    footer {
        display: block;
    }
    #foo-left {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
    #foo-center {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
    #foo-right {
        text-align: center;
        width: 100%;
    }
}

h1, h2, h3 {
    font-family: 'Anonymous Pro', monospace;
}